<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <title>$titulo</title>
    <link rel="stylesheet" href="/css/styles.css">
</head>
<body>
    <h1>$titulo</h1>
    <p>$mensaje</p>
    <nav>
        <ul>
            <li><a href="/registro">Registro</a></li>
            <li><a href="/login">Login</a></li>
            <li><a href="/partidos">Partidos</a></li>
            <li><a href="/torneos">Torneos</a></li>
        </ul>
    </nav>
</body>
</html>

